<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<form action="addEmployee" method="post">
		<table>
			<tr>
				<td>First Name</td>
				<td><input type="text" name="firstName"/></td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td><input type="text" name="lastName"/></td>
			</tr>
			<tr>
				<td>Date Of Birth</td>
				<td><input type="date" name="dob"/></td>
			</tr>
			<tr>
				<td>Gender</td>
				<td><input type="radio" name="gender" value="male" checked>
					Male <input type="radio" name="gender" value="female">
					Female <input type="radio" name="gender" value="other">
					Other</td>
			</tr>
			<tr>
				<td>Primary Contact Number</td>
				<td><input type="text" name="primaryContactNo"/></td>
			</tr>
			<tr>
				<td>Secondary Contact Number</td>
				<td><input type="text" name="secondaryContactNo"/></td>
			</tr>
			<tr>
				<td>Email id</td>
				<td><input type="email" name="emailId"/></td>
			</tr>
			<tr>
				<td>Skype id</td>
				<td><input type="text" name="skypeId"/></td>
			</tr>
			<!--  <tr>
				<td>Reporting Manager:</td>
				<td><select name="reportingMgr">
						<option value="n/a">N/A</option>
						<option th:each="employee : ${employees}"
							th:value="${employee.empCode}"
							th:text="${employee.empCode}">EmployeeCode</option>
				</select></td>
			</tr>
			 <tr>
				<td>Team Lead</td>
				<td><select name="teamLead">
						<option value="n/a">N/A</option>
						<option th:each="employee : ${employees}"
							th:value="${employee.empCode}"
							th:text="${employee.empCode}">Team Lead</option>
				</select></td>
			</tr>-->
			<tr colspan="2">
				<td><input type="submit" value="Add Employee" /></td>
			</tr>
		</table>
	</form>

</body>
</html>