<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Edit employee Details</title>

</head>
<body>
	<div>
		<form th:object="${employee}" th:action="@{/employee}" method="post">
			<input type="hidden"  th:field="*{empCode}" />
			<br>
			 <label>Name:</label> 
			 <input type="text" th:field="*{firstName}" /> 
				<br>
			<label>Description:</label> 
			<input type="text"  th:field="*{lastName}" /> 
				<br>
			<label>Start Date:</label> 
			<input type="text"  th:field="*{dob}" /> 
			<br>
			<label>End Date:</label> 
			<input type="text" th:field="*{emailId}" />
			<button type="submit" class="btn btn-primary">Save</button>

		</form>
	</div>
</body>
</html>