<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Edit project Details</title>

</head>
<body>
	<div>
		<form th:object="${employee}" th:action="@{editProfile}" method="post">
			<table>
				<tr>
					<td>Employee Code:</td>
					<td><input type="text"  th:field="*{empCode}" readonly/></td>
				</tr>
				<tr>
					<td>First Name:</td>
					<td><input type="text" th:field="*{firstName}" /></td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td><input type="text" th:field="*{lastName}" /></td>
				</tr>
				<tr>
					<td>Date Of Birth:</td>
					<td><input type="date" th:field="*{dob}" /></td>
				</tr>
				<tr>
					<td>Gender:</td>
					<td><input type="text" th:field="*{gender}" /></td>
				</tr>
				<tr>
					<td>Primary Contact No:</td>
					<td><input type="text" th:field="*{primaryContactNo}" /></td>
				</tr>
				<tr>
					<td>Secondary Contact No:</td>
					<td><input type="text" th:field="*{secondaryContactNo}" /></td>
				</tr>
				<tr>
					<td>Email Id:</td>
					<td><input type="email" th:field="*{emailId}" readonly/></td>
				</tr>
				<tr>
					<td>Skype Id:</td>
					<td><input type="text" th:field="*{skypeId}" /></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="text" th:field="*{password}" /></td>
				</tr>
				<tr>
				<td colspan="2"><button type="submit" class="btn btn-primary">Save</button>
				</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>