<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Employee Page</title>
</head>
<body>

<a href="addEmployee">Add Employee</a>
<div class="container">
    <div th:if="${not #lists.isEmpty(employees)}">
        <h2>Employee Details</h2>
        <table class="table table-striped" cellspacing="20">
            <tr>
                <th>Emp Code</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date Of Birth</th>
                <th>Gender</th>
                <th>Primary Contact No</th>
                <th>Secondary Contact No</th>
                <th>Email Id</th>
                <th>Skype Id</th>
            </tr>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.empCode}">Emp Code</td>
                <td th:text="${employee.firstName}">First Name</td>
                <td th:text="${employee.lastName}">Last Name</td>
                <td th:text="${employee.dob}">Date Of Birth</td>
                <td th:text="${employee.gender}">Gender</td>
                <td th:text="${employee.primaryContactNo}">Primary Contact No</td>
                <td th:text="${employee.secondaryContactNo}">Secondary Contact No</td>
                <td th:text="${employee.emailId}">Email Id</td>
                <td th:text="${employee.skypeId}">Skype Id</td>
                 <td><a th:href="${'editEmployee?id=' + employee.empCode}" class="btn btn-default">Edit</a></td>
              </tr>
        </table>
    </div>
</div>

</body>
</html>