<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Employee Skills</title>
    
</head>
<body>
<a href="">Add Skills</a>
<div class="container">
    <div th:if="${not #lists.isEmpty(skills)}">
        <h2>All Skills</h2>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
             </tr>
            <tr th:each="project : ${projects}">
                <td th:text="${project.name}">Name</td>
                <td><a th:href="${'projects/delete?id=' + project.projectId}" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>